<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DefaultConnection" connectionString="Data Source=localhost\SQLExpress2005;Initial Catalog=cesadb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.cesadbConnectionString" connectionString="Data Source=localhost\SQLExpress2005;Initial Catalog=cesadb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>